// MainPage.module.scss
@use "./variables.module" as *;

.mainContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: $bg-dark;

  @media (max-width: $breakpoint-xl) {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }
}

.leftPanelContainer {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  overflow-y: auto;
  background-color: $bg-panel;
  border-right: 1px solid $border-light;
  z-index: $z-sidebar;

  &::-webkit-scrollbar {
    width: 0;
  }

  @media (max-width: $breakpoint-xl) {
    width: 240px;
    min-width: 240px;
  }

  @media (max-width: $breakpoint-lg) {
    width: 200px;
    min-width: 200px;
  }

  @media (max-width: $breakpoint-md) {
    width: 100%;
    min-width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid $border-light;
    flex: none;
  }
}

.contentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: $bg-content;
  position: relative;

  @media (max-width: $breakpoint-xl) {
    margin-top: 0;
  }
}

.contentColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(102, 126, 234, 0.3);
    border-radius: 4px;
  }

  @media (max-width: $breakpoint-md) {
    padding: 0 8px;
  }
}

.loadingFallback {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: $text-secondary;
  font-size: 16px;
}
