// MainPage.module.scss
@use "./variables.module" as *;

.mainContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: $bg-dark;
}

.leftPanelContainer {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  overflow-y: auto;
  background-color: $bg-panel;
  border-right: 1px solid $border-light;

  &::-webkit-scrollbar {
    width: 0;
  }

  @media (max-width: 1024px) {
    display: none;
  }
}

.contentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: $bg-content;
  position: relative;
}

.contentColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(102, 126, 234, 0.3);
    border-radius: 4px;
  }
}

.loadingFallback {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: $text-secondary;
  font-size: 16px;
}
